* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    color: #333;
    background: #e62d2d;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

.clear {
    clear: both;
}


/* 大转盘样式 */

.banner {
    padding: 3.4rem 8%;
}

.banner .turnplate {
    position: relative;
    background-image: url(img/icon/turnplate-bg.png);
    background-size: 100% 100%;
}

.banner .turnplate canvas.item {
    width: 100%;
    transform: translate3d(0, 0, 0);
}

.banner .turnplate img.pointer {
    position: absolute;
    width: 31.5%;
    height: 42.5%;
    left: 34.6%;
    top: 23%;
}


/* 提示盒子 */

.tipbox {
    position: fixed;
    width: 60%;
    height: auto;
    background-color: #fff;
    border-radius: .5rem;
    text-align: center;
    opacity: 0;
    padding-bottom: 1.2rem;
    z-index: 10;
    transform: translate3d(0, 0, 0);
    transition:opacity .3s;
    top:5000px;
}
.fadeIn{
    opacity:1 !important;
}
.tipbox span {
    width: 8rem;
    height: 8rem;
    background: url(/h5/img/icon/gx.png) no-repeat 60% 50%;
    background-size: 80% auto;
    display: inline-block;
}

.tipbox span.no {
    background: url(/h5/img/icon/sorry.png) no-repeat 50% 50%;
}

.tipbox p {
    font-size: 1.8rem;
    color: #444;
    margin-bottom: .6em;
}

.tipbox .ok {
    font-size: 1.6rem;
    color: #fff;
    background: #4a90e2;
    height: 2.4rem;
    display: inline-block;
    line-height: 2.4rem;
    padding: 0 1.4rem;
    border-radius: .5rem;
}

.tipbox .ok:active {
    opacity: .8;
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0, 0, 0, .6);
    transform: translate3d(0, 0, 0);
    transition:opacity .3s;
    top:5000px;
}